header {
    background-color: #0fb9b1;
    display: flex;
    align-items: center;
}
footer{
    background-color: #0fb9b1;
    height: 100px;
    width: 1500px;
    align-items: center;
}
ul {
    background-color: #0fb9b1;
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
}

li {
    float: left;
    margin-right: 3em;
    font-size: 18px;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.link:hover {
    font-weight: bold;
}

img {
    width: 30px;
    height: 30px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-right: 5px;
}
.footer{
    background-color: #0fb9b1;
}

#logout-button {
    background-color: #0fb9b1;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    outline: none;
}

#logout-button:hover {
    cursor: pointer;
    font-weight: bold;
}
